@page
@model PrivacyModel
@{
    ViewData["Title"] = "قوانین";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
<ul style="list-style-type:persian">
    <li>
        <p>هر کاربر حداکثر ۲ کتاب در هر ماه می تواند به امانت بگیرد</p>
    </li>
    <li>
        <p><strong>مدت امانت هر کتاب دو هفته می باشد</strong></p>
    </li>
    <li>
        <p>هر کاربر باید متعهد به حفظ و نگهداری کتاب باشد</p>
    </li>
</ul>
</div>